resources/schema/iso/gmi/metadataEntitySet.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by STEPHANE BIDAULT (I.G.N/SAF/RECEPTIONS) -->
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/gmi" 
xmlns:gmi="http://www.isotc211.org/2005/gmi"
xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gco="http://www.isotc211.org/2005/gco" version="0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 04-04-2008 17:12:49 ====== </xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/gmd.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:include schemaLocation="../gmi/acquisitionInformation.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType name="MI_Metadata_Type">
		<xs:annotation>
			<xs:documentation>Description: Root entity that defines information about imagery or gridded data - shortName: IMetadata</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:MD_Metadata_Type">
				<xs:sequence>
					<xs:element name="acquisitionInformation" type="gmi:MI_AcquisitionInformation_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MI_Metadata" type="gmi:MI_Metadata_Type" substitutionGroup="gmd:MD_Metadata"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_Metadata_PropertyType">
		<xs:sequence>
			<xs:element ref="gmi:MI_Metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>
