umm-spec-lib/resources/xml-schemas/serf/serf_v9.9.3.xsd

<?xml version="1.0" encoding="UTF-8"?>


<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://gcmd.gsfc.nasa.gov/Aboutus/xml/serf/"
            xmlns="http://gcmd.gsfc.nasa.gov/Aboutus/xml/serf/">

<xs:element name="SERF">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Entry_ID" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Entry_Title" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Service_Citation" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="Personnel" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="Service_Parameters" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element ref="Science_Parameters" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element ref="ISO_Topic_Category" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="Keyword" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="Sensor_Name" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="Source_Name" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="Project" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="Quality" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Access_Constraints" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Use_Constraints" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Service_Language" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="Distribution" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="Multimedia_Sample" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="Service_Provider" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element ref="Summary" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Related_URL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="Parent_SERF" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="IDN_Node" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="Metadata_Name" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Metadata_Version" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="SERF_Creation_Date" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Last_SERF_Revision_Date" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="SERF_Revision_History" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Future_SERF_Review_Date" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Private" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Extended_Metadata" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>
<xs:element name="Entry_ID" type="xs:string"/>
<xs:element name="Entry_Title" type="xs:string"/>
<xs:element name="Service_Citation">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Originators" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Title" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Release_Date" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Provider" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Edition" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="URL" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>
<xs:element name="Originators" type="xs:string"/>
<xs:element name="Title" type="xs:string"/>
<xs:element name="Release_Date" type="xs:string"/>
<xs:element name="Provider" type="xs:string"/>
<xs:element name="Edition" type="xs:string"/>
<xs:element name="URL" type="xs:string"/>
<xs:element name="Personnel">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Role" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element ref="First_Name" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Middle_Name" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Last_Name" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Email" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="Phone" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="Fax" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="Contact_Address" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>
<xs:element name="Role" type="xs:string"/>
<xs:element name="First_Name" type="xs:string"/>
<xs:element name="Middle_Name" type="xs:string"/>
<xs:element name="Last_Name" type="xs:string"/>
<xs:element name="Email" type="xs:string"/>
<xs:element name="Phone" type="xs:string"/>
<xs:element name="Fax" type="xs:string"/>
<xs:element name="FAX" type="xs:string"/>
<xs:element name="Contact_Address">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Address" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element ref="City" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Province_or_State" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Postal_Code" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Country" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>
<xs:element name="Address" type="xs:string"/>
<xs:element name="City" type="xs:string"/>
<xs:element name="Province_or_State" type="xs:string"/>
<xs:element name="Postal_Code" type="xs:string"/>
<xs:element name="Country" type="xs:string"/>
<xs:element name="Service_Parameters">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Service_Category" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Service_Topic" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Service_Term" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Service_Specific_Name" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="uuid" type="xs:string"/>
   </xs:complexType>
</xs:element>
<xs:element name="Service_Category" type="xs:string"/>
<xs:element name="Service_Topic" type="xs:string"/>
<xs:element name="Service_Term" type="xs:string"/>
<xs:element name="Service_Specific_Name" type="xs:string"/>
<xs:element name="Science_Parameters">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Science_Category" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Science_Topic" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Science_Term" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Science_Variable_Level_1" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Science_Variable_Level_2" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Science_Variable_Level_3" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Science_Detailed_Variable" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="uuid" type="xs:string"/>
   </xs:complexType>
</xs:element>
<xs:element name="Science_Category" type="xs:string"/>
<xs:element name="Science_Topic" type="xs:string"/>
<xs:element name="Science_Term" type="xs:string"/>
<xs:element name="Science_Variable_Level_1" type="xs:string"/>
<xs:element name="Science_Variable_Level_2" type="xs:string"/>
<xs:element name="Science_Variable_Level_3" type="xs:string"/>
<xs:element name="Science_Detailed_Variable" type="xs:string"/>
<xs:element name="ISO_Topic_Category">
        <xs:complexType>
                <xs:simpleContent>
                        <xs:extension base="xs:string">
                                <xs:attribute name="uuid" type="xs:string"/>
                        </xs:extension>
                </xs:simpleContent>
        </xs:complexType>
</xs:element>
<xs:element name="Keyword" type="xs:string"/>
<xs:element name="Sensor_Name">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Short_Name" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Long_Name" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="uuid" type="xs:string"/>
   </xs:complexType>
</xs:element>
<xs:element name="Short_Name" type="xs:string"/>
<xs:element name="Long_Name" type="xs:string"/>
<xs:element name="Source_Name">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Short_Name" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Long_Name" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="uuid" type="xs:string"/>
   </xs:complexType>
</xs:element>
<xs:element name="Project">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Short_Name" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Long_Name" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="uuid" type="xs:string"/>
   </xs:complexType>
</xs:element>
<xs:element name="Quality" type="xs:string"/>
<xs:element name="Access_Constraints" type="xs:string"/>
<xs:element name="Use_Constraints" type="xs:string"/>
<xs:element name="Service_Language" type="xs:string"/>
<xs:element name="Distribution">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Distribution_Media" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Distribution_Size" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Distribution_Format" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Fees" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>
<xs:element name="Distribution_Media" type="xs:string"/>
<xs:element name="Distribution_Size" type="xs:string"/>
<xs:element name="Distribution_Format" type="xs:string"/>
<xs:element name="Fees" type="xs:string"/>
<xs:element name="Multimedia_Sample">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="File" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="URL" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Format" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Caption" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Description" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>
<xs:element name="File" type="xs:string"/>
<xs:element name="Format" type="xs:string"/>
<xs:element name="Caption" type="xs:string"/>
<xs:element name="Description" type="xs:string"/>

<xs:element name="Reference">
   <xs:complexType mixed="true">
      <xs:sequence>
         <xs:element ref="Author" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Publication_Date" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Title" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Series" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Edition" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Volume" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Issue" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Report_Number" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Publication_Place" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Publisher" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Pages" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="ISBN" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="DOI" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Online_Resource" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Other_Reference_Details" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>   
<xs:element name="Author" type="xs:string"/>
<xs:element name="Publication_Date" type="xs:string"/>
<xs:element name="Series" type="xs:string"/>
<xs:element name="Volume" type="xs:string"/>
<xs:element name="Issue" type="xs:string"/>
<xs:element name="Report_Number" type="xs:string"/>
<xs:element name="Publication_Place" type="xs:string"/>
<xs:element name="Publisher" type="xs:string"/>
<xs:element name="Pages" type="xs:string"/>
<xs:element name="ISBN" type="xs:string"/>
<xs:element name="DOI" type="xs:string"/>
<xs:element name="Online_Resource" type="xs:string"/>
<xs:element name="Other_Reference_Details" type="xs:string"/>

<xs:element name="Service_Provider">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Service_Organization" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Service_Organization_URL" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Personnel" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="uuid" type="xs:string"/>
   </xs:complexType>
</xs:element>
<xs:element name="Service_Organization">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Short_Name" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Long_Name" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="uuid" type="xs:string"/>
   </xs:complexType>
</xs:element>
<xs:element name="Service_Organization_URL" type="xs:string"/>

<xs:element name="Summary">
   <xs:complexType mixed="true">
      <xs:sequence>
         <xs:element ref="Abstract" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="Purpose" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>
<xs:element name="Abstract" type="xs:string"/>
<xs:element name="Purpose" type="xs:string"/>

<xs:element name="Related_URL">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="URL_Content_Type" minOccurs="0" maxOccurs="1"/>
         <xs:element ref="URL" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element ref="Description" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>

<xs:element name="URL_Content_Type">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Type" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Subtype" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="uuid" type="xs:string"/>
   </xs:complexType>
</xs:element>
<xs:element name="Type" type="xs:string"/>
<xs:element name="Subtype" type="xs:string"/>

<xs:element name="Parent_SERF" type="xs:string"/>
<xs:element name="IDN_Node">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Short_Name" minOccurs="1" maxOccurs="1"/>
         <xs:element ref="Long_Name" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="uuid" type="xs:string"/>
   </xs:complexType>
</xs:element>
<xs:element name="Metadata_Name" type="xs:string"/>
<xs:element name="Metadata_Version" type="xs:string"/>
<xs:element name="SERF_Creation_Date" type="xs:string"/>
<xs:element name="Last_SERF_Revision_Date" type="xs:string"/>
<xs:element name="SERF_Revision_History" type="xs:string"/>
<xs:element name="Future_SERF_Review_Date" type="xs:string"/>
<xs:element name="Private" type="xs:string"/>

<xs:element name="Extended_Metadata">
   <xs:complexType>
      <xs:sequence>
         <xs:element ref="Metadata" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>

<xs:element name="Metadata">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="Group" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="Name" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="Description" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="Type" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="Update_Date" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="Value" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="Group" type="xs:string"/>
<xs:element name="Name" type="xs:string"/>
<xs:element name="Update_Date" type="xs:string"/>

<xs:element name="Value">
    <xs:complexType>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="type"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:element>

</xs:schema>
