umm-spec-lib/resources/xml-schemas/iso19115_2/gmd/1.0/content With Attribute Groups.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.isotc211.org/2005/gmd" elementFormDefault="qualified" version="0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd">
  <!-- ================================= Annotation ================================ -->
  <xs:annotation>
    <xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-26-2005 12:40:03 ====== </xs:documentation>
  </xs:annotation>
  <!-- ================================== Imports ================================== -->
  <xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
  <xs:include schemaLocation="../gmd/citation.xsd"/>
  <!-- ########################################################################### -->
  <!-- ########################################################################### -->
  <!-- ================================== Classes ================================= -->
  <xs:complexType name="MD_FeatureCatalogueDescription_Type">
    <xs:annotation>
      <xs:documentation>Information identifing the feature catalogue</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gmd:AbstractMD_ContentInformation_Type">
        <xs:sequence>
          <xs:element name="complianceCode" type="gco:Boolean_PropertyType" minOccurs="0"/>
          <xs:element name="language" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="includedWithDataset" type="gco:Boolean_PropertyType"/>
          <xs:element name="featureTypes" type="gco:GenericName_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="featureCatalogueCitation" type="gmd:CI_Citation_PropertyType" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="MD_FeatureCatalogueDescription" type="gmd:MD_FeatureCatalogueDescription_Type" substitutionGroup="gmd:AbstractMD_ContentInformation"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_FeatureCatalogueDescription_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_FeatureCatalogueDescription"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- =========================================================================== -->
  <xs:complexType name="MD_CoverageDescription_Type">
    <xs:annotation>
      <xs:documentation>Information about the domain of the raster cell</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gmd:AbstractMD_ContentInformation_Type">
        <xs:sequence>
          <xs:element name="attributeDescription" type="gco:RecordType_PropertyType"/>
          <!-- dropped by ted.habermann@noaa.gov, replaced by gmd:MD_AttributeGroup/gmd:attribute-->
          <!--<xs:element name="dimension" type="gmd:MD_RangeDimension_PropertyType" minOccurs="0" maxOccurs="unbounded"/>-->
          <xs:element name="attributeGroup" type="gmd:MD_AttributeGroup_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="MD_CoverageDescription" type="gmd:MD_CoverageDescription_Type" substitutionGroup="gmd:AbstractMD_ContentInformation"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_CoverageDescription_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_CoverageDescription"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- =========================================================================== -->
  <!-- Added by ted.habermann@noaa.gov to test new contentInfo organization -->
  <xs:complexType name="MD_AttributeGroup_Type">
    <xs:annotation>
      <xs:documentation>A collection of attributes with the same type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="contentType" type="gmd:MD_CoverageContentTypeCode_PropertyType" maxOccurs="unbounded"/>
      <xs:element name="attribute" type="gmd:MD_RangeDimension_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="MD_AttributeGroup" type="gmd:MD_AttributeGroup_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_AttributeGroup_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_AttributeGroup"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- =========================================================================== -->
  <xs:complexType name="MD_ImageDescription_Type">
    <xs:annotation>
      <xs:documentation>Information about an image's suitability for use</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gmd:MD_CoverageDescription_Type">
        <xs:sequence>
          <xs:element name="illuminationElevationAngle" type="gco:Real_PropertyType" minOccurs="0"/>
          <xs:element name="illuminationAzimuthAngle" type="gco:Real_PropertyType" minOccurs="0"/>
          <xs:element name="imagingCondition" type="gmd:MD_ImagingConditionCode_PropertyType" minOccurs="0"/>
          <xs:element name="imageQualityCode" type="gmd:MD_Identifier_PropertyType" minOccurs="0"/>
          <xs:element name="cloudCoverPercentage" type="gco:Real_PropertyType" minOccurs="0"/>
          <xs:element name="processingLevelCode" type="gmd:MD_Identifier_PropertyType" minOccurs="0"/>
          <xs:element name="compressionGenerationQuantity" type="gco:Integer_PropertyType" minOccurs="0"/>
          <xs:element name="triangulationIndicator" type="gco:Boolean_PropertyType" minOccurs="0"/>
          <xs:element name="radiometricCalibrationDataAvailability" type="gco:Boolean_PropertyType" minOccurs="0"/>
          <xs:element name="cameraCalibrationInformationAvailability" type="gco:Boolean_PropertyType" minOccurs="0"/>
          <xs:element name="filmDistortionInformationAvailability" type="gco:Boolean_PropertyType" minOccurs="0"/>
          <xs:element name="lensDistortionInformationAvailability" type="gco:Boolean_PropertyType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="MD_ImageDescription" type="gmd:MD_ImageDescription_Type" substitutionGroup="gmd:MD_CoverageDescription"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_ImageDescription_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_ImageDescription"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- =========================================================================== -->
  <xs:complexType name="AbstractMD_ContentInformation_Type" abstract="true">
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="AbstractMD_ContentInformation" type="gmd:AbstractMD_ContentInformation_Type" abstract="true"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_ContentInformation_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:AbstractMD_ContentInformation"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- =========================================================================== -->
  <xs:complexType name="MD_RangeDimension_Type">
    <xs:annotation>
      <xs:documentation>Set of adjacent wavelengths in the electro-magnetic spectrum with a common characteristic, such as the visible band</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="gco:AbstractObject_Type">
        <xs:sequence>
          <xs:element name="sequenceIdentifier" type="gco:MemberName_PropertyType" minOccurs="0"/>
          <!-- descriptor element changed to description per 19115-1 by ted.habermann@noaa.gov-->
          <xs:element name="description" type="gco:CharacterString_PropertyType" minOccurs="0"/>
          <!-- Name element added by ted.habermann@noaa.gov to alllow CF names for AWIPS test 20120402-->
          <xs:element name="name" type="gmd:MD_Identifier_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="MD_RangeDimension" type="gmd:MD_RangeDimension_Type"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_RangeDimension_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_RangeDimension"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- =========================================================================== -->
  <!-- Added by ted.habermann@noaa.gov to test 19115-1 -->
  <xs:complexType name="MD_SampleDimension_Type">
    <xs:complexContent>
      <xs:extension base="gmd:MD_RangeDimension_Type">
        <xs:sequence>
          <xs:element name="maxValue" type="gco:Real_PropertyType" minOccurs="0"/>
          <xs:element name="minValue" type="gco:Real_PropertyType" minOccurs="0"/>
          <xs:element name="units" type="gco:UomLength_PropertyType" minOccurs="0"/>
          <xs:element name="bitsPerValue" type="gco:Integer_PropertyType" minOccurs="0"/>
          <!-- elements moved to MD_Band
          <xs:element name="peakResponse" type="gco:Real_PropertyType" minOccurs="0"/>
          <xs:element name="toneGradation" type="gco:Integer_PropertyType" minOccurs="0"/>
          -->
          <xs:element name="scaleFactor" type="gco:Real_PropertyType" minOccurs="0"/>
          <xs:element name="offset" type="gco:Real_PropertyType" minOccurs="0"/>
          <!-- New elements added per 19115-1 -->
          <xs:element name="meanValue" type="gco:Real_PropertyType" minOccurs="0"/>
          <xs:element name="standardDeviation" type="gco:Real_PropertyType" minOccurs="0"/>
          <xs:element name="numberOfValues" type="gco:Integer_PropertyType" minOccurs="0"/>
          <xs:element name="otherPropertyType" type="gco:RecordType_PropertyType" minOccurs="0"/>
          <xs:element name="otherProperty" type="gco:Record_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="MD_SampleDimension" type="gmd:MD_SampleDimension_Type" substitutionGroup="gmd:MD_RangeDimension"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_SampleDimension_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_SampleDimension"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- =========================================================================== -->
  <xs:complexType name="MD_Band_Type">
    <xs:complexContent>
      <xs:extension base="gmd:MD_SampleDimension_Type">
        <xs:sequence>
          <!-- element names changed to differentiate from SampleDimension min/max -->
          <xs:element name="boundMax" type="gco:Real_PropertyType" minOccurs="0"/>
          <xs:element name="boundMin" type="gco:Real_PropertyType" minOccurs="0"/>
          <xs:element name="boundUnits" type="gco:UomLength_PropertyType" minOccurs="0"/>
          <xs:element name="peakResponse" type="gco:Real_PropertyType" minOccurs="0"/>
          <xs:element name="toneGradation" type="gco:Integer_PropertyType" minOccurs="0"/>
          <!-- These elements are inherited from MD_SampleDimension 
          <xs:element name="bitsPerValue" type="gco:Integer_PropertyType" minOccurs="0"/>
          <xs:element name="scaleFactor" type="gco:Real_PropertyType" minOccurs="0"/>
          <xs:element name="offset" type="gco:Real_PropertyType" minOccurs="0"/>
          -->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- ........................................................................ -->
  <xs:element name="MD_Band" type="gmd:MD_Band_Type" substitutionGroup="gmd:MD_SampleDimension"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_Band_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_Band"/>
    </xs:sequence>
    <xs:attributeGroup ref="gco:ObjectReference"/>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- =========================================================================== -->
  <!-- ........................................................................ -->
  <xs:element name="MD_CoverageContentTypeCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_CoverageContentTypeCode_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_CoverageContentTypeCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- =========================================================================== -->
  <!-- ........................................................................ -->
  <xs:element name="MD_ImagingConditionCode" type="gco:CodeListValue_Type" substitutionGroup="gco:CharacterString"/>
  <!-- ........................................................................ -->
  <xs:complexType name="MD_ImagingConditionCode_PropertyType">
    <xs:sequence minOccurs="0">
      <xs:element ref="gmd:MD_ImagingConditionCode"/>
    </xs:sequence>
    <xs:attribute ref="gco:nilReason"/>
  </xs:complexType>
  <!-- =========================================================================== -->
</xs:schema>
